@using DOAN_WEB_1.Models
@model SANPHAM
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style type="text/css">
    #Datmua a {
        
        background-color: red;
        color: white;
        width: 120px;
        height: 35px;
        display: block;
        float: left;
        left:75px;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        font-weight: bold;
    }

        #Datmua a:hover {
            background-color: gray;
            color: red;
        }
</style>


<div style="display:flex;justify-content:center;font-family:'Times New Roman'">
    
    <div>
        <h3 style="display:inline-flex;text-align:center"> THÔNG TIN CHI TIẾT ỐP lƯNG</h3>
        <div style="width:40%; float:left; border-left: dotted 1px; border-color:azure">
            <img src="~/Content/images/@Model.HinhAnh" width="350px" />
        </div>
        <div style="width:60%; float:left; padding:10px">
            <h4 style="font-weight:bold; color:red">Ốp Lưng: @Model.TenSP </h4>
            <p style="text-align:justify"><Span style="font-weight:bold"> Mô tả: </Span>@Model.Mota </p>
            <p style="font-weight:bold"> Giá bán: <span style="color:red; font-size:16pt "> @String.Format("{0:0,0}", @Model.GiaBan)  VNĐ </span></p>
        </div>
        <div>
            <div id="Datmua">
                <a href="@Url.Action("ThemGioHang", "GioHang", new { @iMaSP= @Model.MaSP, @strURL=Request.Url.ToString() })" class="list-group-item">
                    ĐẶT MUA
                </a>
            </div>
        </div>
    </div>
</div>



