
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h4 style="color:red; text-align:center">@ViewBag.Thongbao</h4>
<table align="center">
    <h3 style="text-align:center; color:darkturquoise">ĐĂNG NHẬP</h3>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px; color:cornflowerblue; background-color:ghostwhite ">
            <td> Tên đăng nhập:</td>
            <td>
                @Html.TextBox("TenDN")
                @ViewData["Loi1"]
            </td>
        </tr>
        <tr style="height: 40px; color: cornflowerblue; background-color: ghostwhite">
            <td align="right"> Mật khẩu:</td>
            <td>
                @Html.Password("Matkhau")
                @ViewData["Loi2"]
            </td>
        </tr>
  
        <tr style="height:40px; color:aqua">
            <td></td>
            <td>
                <input type="submit" value="Đăng nhập" />
            </td>
        </tr>
}
</table>

